@import url('variables.css');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
.text__h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.31px;
    color: var(--text-primary);
}
.line {
    display: flex;
    width: 55px;
    height: 4px;
    background-color: var(--accent);
}
.text__caption {
    font-size: 11px;
}
/* Header */
.burger {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 4px;
}
.burger__line:last-child {
    margin-bottom: 0;
}

.header {
    background-size: 100%;
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    color: var(--text-light); 
}
.header__title {
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5.71px;
    line-height: auto;
    padding-top: 84px;
}
.header__lead {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2px;
}
.link__wrapper{
    display: flex;
    padding-top: 225px;
}
.text__scroll {
    letter-spacing: 3.7px;
    font-weight: 600;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    max-width: 1440px;
    margin: 0 auto;
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    list-style: none;
    display: flex;
    padding: 10px 0px;
    max-width: 410px;
    justify-content: space-between;
}
.nav__list > li {
    font-size: 11px;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.068em;
}
.nav__list > li:nth-child {
    margin-right: 0px;
}
a:hover {
    color: var(--accent);
}
.btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--accent);
    color: var(--white);
    border: none;
}
.text-body {
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
}
.text__scroll {
    letter-spacing: 0.846px;
    text-transform: uppercase;
    color: var(--text-light);
}
/* About */
.about {
    margin-top: 58px;
}
.about__title {
    padding-bottom: 13px;
    text-align: center;
}
.about__title:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.about__lead {
    padding-top: 45px;
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
    margin-bottom: 40px;
    padding-right: 25px;
}
.lead-highlight {
    color: var(--accent);
}
.about__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__text-wrap {
    max-width: 402px;
    margin-right: 50px;
}
.about__description {
    padding-right: 25px;
}
.about__cards {
    display: flex;
    align-items: flex-end;
    margin-top: 74px;
}
.about__cards-item {
    font-size: 24px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px;
    margin-right: 20px;
}
.about__cards-item:last-child {
    margin-right: 0;
}
.img {
    width: 140px;
    height: 222px;
}
.about__cards-item:nth-child(1) {
    background-image: url(../assets/plan.png);
}
.about__cards-item:nth-child(2) {
    background-image: url(../assets/manage.png);
}
.about__cards-item:nth-child(3) {
    background-image: url(../assets/bild.png);
}
/* Services */
.services {
    margin-top: 120px;
    margin-bottom: 110px;
}
.services_content {
    display: flex;
    justify-content: space-between;
}
.services__content-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.services__content-description {
    color: var(--gray);
    max-width: 405px;
    margin-right: 58px;
    letter-spacing: 0.2px;
    line-height: 19px;
    font-weight: 400;
}
.services__content-left {
    display: flex;
    flex-direction: column;
}
.services__title {
    padding-bottom: 10px;
}
.services__title:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent);
    display: block;
    margin-top: 10px;
}
.services__button {
    padding: 11px 29px;
}
.services__cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.services__cards-item {
    width: 295px;
    height: 330px;
    border: 1px solid var(--border, #E6E6E6);
    padding: 33px 26px;
}
.services__cards-image {
    width: 66px;
    height: 75px;
}
.services__cards-item-title {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 250px;
    padding: 25px 0 13px;
}
/* Get in touch */
.get-in-touch {
    background-image: url("/assets/get-in-touch.png");
    background-size: cover;
    background-position: center;
    background-color:var(--dark-gray);
    max-width: 100%;
    height: 496px;
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    padding-bottom: 231px;
}
.get-in-touch__text {
    color: var(--gray, #48555B);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: 0.15px;
    margin: 0 auto;
    width: 350px;
}
.get-in-touch__button {
    display: flex;
    margin: 35px auto 0;
    padding: 12px 30px;
}
/* Newsletter */
.newsletter {
    background-color: var(--dark-gray, #171819);
    margin: 0 auto;
}
.newsletter__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 34px;
    margin: 0 auto;
}
.newsletter__text {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
}
.form__title {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.097em;
    padding-left: 93px;
}
.newsletter__form {
    display: flex;
    padding-right: 90px;
}
.newsletter__form-input {
    width: 250px;
    height: 38px;
    padding-left: 13px;
    border: 1px solid #979797;
    background: var(--white, #FFF);
}
.newsletter__form-button {
    width: 150px;
    height: 38px;
}
.form__title {
    display: flex;
    flex-direction: column;
}
/* Footer */

.footer {
    background: var(--Shadow-Black, #141A20);
    display: flex;
}
.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 42px;
    padding-bottom: 40px;
}
.footer__grid-company {
    margin-right: 71px;
}
.footer__title {
    color: var(--white, #FFF);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.846px;
    text-transform: uppercase;
}
.footer__logo {
    padding-top: 19px;
}
.company__text {
    color: var(--white, #FFF);
    width: 250px;
    letter-spacing: 0.85px;
    padding-top: 12px;
    line-height: 19px;
}
.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white);
    font-size: 11px;
    font-weight: 600;
    line-height: 25px; /* 227.273% */
    letter-spacing: 0.846px;
}
.footer__nav-list {
    padding: 0;
}
.footer__nav-list > li {
    list-style-type: none;
    text-transform: uppercase;
}
.footer__nav-list:first-child {
    margin-right: 34px;
    white-space: nowrap;
}
.footer__nav-list:last-child {
    margin-left: 31px;
    margin-right: 50px;
}
.footer__content {
    color: var(--white);
    padding-top: 15px;
}
.footer__contact-address {
    font-style: normal;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.846px;
}
.footer__content-links {
    display: flex;
    flex-direction: column;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.846px;
}
.footer__grid-social {
    display: flex;
    justify-content: space-between;
    width: 87px;
    margin-left: 36px;
    padding-top: 26px;
    color: var(--white, #FFF);
}
.copyright {
    background-color: var(--dark-gray);
    padding-top: 18px;
    padding-bottom: 23px;
}
.copyright__content {
    color:  var(--white);
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.846px;
}
/* Laptop L*/
@media (max-width: 1440px) {
    .about__inner {
        flex-wrap: wrap;
    }
}
/* Laptop */
@media (max-width: 1024px) {
    .container {
        padding: 0 50px;
    }
    .header {
        height: 541px;
    }
    .header__content {
        margin-top: 100px;
    }
    .link__wrapper{
        padding-top: 150px;
    }
    .about__lead {
        padding-top: 25px;
        margin-bottom: 20px;
    }
    .about__cards {
        flex-wrap: wrap;
    }
    .services_content {
        display: flex;
        flex-direction: column;
    }

}
/* Tablet */
@media (max-width: 768px) {
    .container {
        padding: 0 50px;
    }
    .burger {
        display: flex;
    }
    .header {
        height: 409px;
    }
    .header__content {
        margin-top: 15px;
    }
    .link__wrapper{
        padding-top: 120px;
    }
    .about__cards {
        flex-wrap: wrap;
        align-items: center;
        margin-left: 30px;
        margin-top: 34px;
    }
    .about__text-wrap {
        max-width: 402px;
        margin-right: 50px;
        margin: 0 auto;
    }
    .services__title {
        text-align: center;
    }
    .services__title:after {
        margin: 0 auto;
        margin-top: 10px;
    }
    .services__content-right {
        flex-direction: column;
    }
    .services__content-description {
        text-align: center;
        margin: 0 auto;
        padding-left: 25px;
        margin-bottom: 25px;
    }
    .services__cards {
        margin-top: 40px;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .get-in-touch {
        padding-top: 55px;
        /* padding-bottom: 231px; */
    }
    .newsletter__inner {
        flex-direction: column;
        align-items: center;
    }
    .form__title {
        margin-bottom: 15px;
        padding: 0;
    }
    .newsletter__form {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        margin: 0 auto;
    }
    .newsletter__form-input {
        margin-bottom: 15px;
    }
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Mobile L */
@media (max-width: 425px) {
    /* Menu */
    ul#slide-out:not(.browser-default) {
        padding-left: 0;
        list-style-type: none;
    }

    ul#slide-out:not(.browser-default) > li {
        list-style-type: none;
    }
    #slide-out a {
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
    }
    .sidenav {
        -webkit-box-shadow: 0 2px 2px 0 rgba(164, 229, 100, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 2px 0 rgba(164, 229, 100, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    .sidenav .collapsible,
    .sidenav.fixed .collapsible {
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .sidenav .collapsible li,
    .sidenav.fixed .collapsible li {
        padding: 0;
    }

    .sidenav .collapsible-header,
    .sidenav.fixed .collapsible-header {
        background-color: transparent;
        border: none;
        line-height: inherit;
        height: inherit;
        padding: 0 16px;
    }

    .sidenav .collapsible-header:hover,
    .sidenav.fixed .collapsible-header:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .sidenav .collapsible-header i,
    .sidenav.fixed .collapsible-header i {
        line-height: inherit;
    }

    .sidenav .collapsible-body,
    .sidenav.fixed .collapsible-body {
        border: 0;
        background-color: #fff;
    }

    .sidenav .collapsible-body li a,
    .sidenav.fixed .collapsible-body li a {
        padding: 0 23.5px 0 31px;
    }
    .sidenav {
        position: fixed;
        width: 300px;
        left: 0;
        top: 0;
        margin: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        height: 100%;
        height: calc(100% + 60px);
        height: -moz-calc(100%);
        padding-bottom: 60px;
        background-color: #fff;
        z-index: 999;
        overflow-y: auto;
        will-change: transform;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transform: translateX(-105%);
                transform: translateX(-105%);
    }

    .sidenav .collapsible {
        margin: 0;
    }

    .sidenav li {
        float: none;
        line-height: 48px;
    }

    .sidenav li.active {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .sidenav li > a {
        color: rgba(0, 0, 0, 0.87);
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
    }

    .sidenav li > a:hover {
        background-color: rgba(0, 164, 229, 0.56);
    }

    .sidenav li > a > i,
    .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
    .sidenav li > a > i.material-icons {
        float: left;
        height: 48px;
        line-height: 48px;
        margin: 0 32px 0 0;
        width: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
    .sidenav .divider {
        margin: 8px 0 0 0;
    }
    .dropdown-content li.divider {
        min-height: 0;
        height: 1px;
    }
    .divider {
        height: 1px;
        overflow: hidden;
        background-color: #e0e0e0;
    }
    .sidenav .subheader {
        cursor: initial;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        font-weight: 500;
        line-height: 48px;
    }
    .sidenav .subheader:hover {
        background-color: transparent;
    }
    .sidenav .user-view {
        position: relative;
        padding: 32px 32px 0;
        margin-bottom: 8px;
    }
    .sidenav .user-view > a {
        height: auto;
        padding: 0;
    }

    .sidenav .user-view > a:hover {
        background-color: transparent;
    }

    .sidenav .user-view .background {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    nav a.sidenav-trigger {
        display: none;
    }
    nav .sidenav-trigger {
        float: left;
        position: relative;
        z-index: 1;
        height: 56px;
        margin: 0 18px;
    }
    nav .sidenav-trigger i {
        height: 56px;
        line-height: 56px;
    }
    .container {
        padding: 0 20px;
        max-width: 100%;
    }
    .burger {
        display: flex;
    }
    .nav {
        display: none;
    }
    .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }
    .header {
        max-width: 100%;
        height: 100vh;
        padding-top: calc(env(safe-area-inset-top) + 15px); 
        background-size: cover;
        background-position: center;
    }
    .header__title {
        font-size: 56px; 
        letter-spacing: 2.86px;
        text-align: center;
        margin-top: 80px;
    }
    .header__lead {
        font-size: 14px;
        padding-top: 8px;
    }
    .link__wrapper{
        display: none;
    }
    .about__lead {
        font-size: 18px;
        padding-right: 0;
    }
    .services__content-description {
        margin-right: 0;
        padding-left: 0;
    }
    .about__cards {
        flex-direction: column;
        margin-left: 0;
    }
    .about__cards-item {
        margin: 10px 0px;
    }
    .about__cards-item:last-child {
        margin-bottom: 0;
    }
    .services {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .get-in-touch {
        height: 360px;
    }
    .footer {
        max-width: 100%;
        display: grid;
    }
    .footer__grid {
        grid-template-columns: 1fr;
        place-self: center;
    }
    .company__text {
        display: none;
    }
    .footer__title {
        margin-top: 20px;
        text-align: center;
    }
    .footer__nav {
        grid-template-columns: 1fr;
    }
    .footer__nav-list:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .footer__nav-list:first-child {
        margin-right: 0;
    }
    .footer__grid-company {
        margin-right: 0;
    }
    .footer__logo {
        display: block;
        margin: 0 auto;
    }
    .footer__nav-list {
        text-align: center;
        margin-top: 8px;
    }
    .footer__content {
        text-align: center;
        margin-top: 10px;
    }
    .footer__grid-social {
        margin: 0 auto;
        margin-top: 15px;
    }
}