@import url('variables.css');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
.text__h2 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    letter-spacing: 2.31px;
}
/* Header */

.header {
    background-size: 100%;
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 41px;
}
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: var(--text-light);
}
.header__title {
    font-family: Bebas Neue, sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-5xl);
    letter-spacing: 5.71px;
    line-height: auto;
    padding-top: 80px;
}
.header__lead {
    font-size: var(--fs-base);
    font-weight: var(--fw-semi-bold);
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 6x;
}
.link__wrapper{
    padding-bottom: 71px;
}
.text__caption {
    color: var(--text-light);
    font-size: var(--fs-3xs);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 2.5px;
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    list-style: none;
    display: flex;
    padding: 10px 0px;
    max-width: 410px;
}
.nav__list > li {
    font-size: var(--fs-3xs);
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.068em;
}
.nav__list > li:nth-child {
    margin-right: 0px;
}
a:hover {
    color: var(--accent);
}
/* About */
.about {
}
.about__inner {
}
.about__title {
}
.about__line {
}
.about__content {
}
.about__text {
}
.about__lead {
}
.about__description {
}
.about__cards {
}
.item {
}
.item__title {
}
.services {
}
.services_inner {
}
.services_content {
}
.services__title {
}
.services__line {
}
.services__button {
}
.services__cards {
}
.services__cards-item {
}
.image {
}
.services__cards-item-title {
}
.services__cards-item-text {
}
.get-in-touch {
}
.get-in-touch__inner {
}
.get-in-touch__text {
}
.get-in-touch__button {
}
.newsletter {
}
.newsletter__inner {
}
.newsletter__text {
}
.newsletter__form {
}
.newsletter__form-input {
}
.newsletter__form-button {
}
.footer__inner {
}
.footer__content {
}
.title {
}
.text {
}
.footer__nav {
}
.footer__nav-title {
}
.footer__nav-links {
}
.footer__nav-list {
}
.footer__contact {
}
.footer__contact-title {
}
.footer__contact-address {
}
.footer__contact-tel {
}
.footer__social {
}
.fa {
}
.fa-facebook-official {
}
.fa-twitter {
}
.fa-google {
}
