@import url('variables.css');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
.header {
    background-size: 100%;
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 768px;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.header__title {
    color: var(--text-light);
}
.header__subtitle {
}
.hero__scroll {
}
.about {
}
.about__inner {
}
.about__title {
}
.about__line {
}
.about__content {
}
.about__text {
}
.about__lead {
}
.about__description {
}
.about__cards {
}
.item {
}
.item__title {
}
.services {
}
.services_inner {
}
.services_content {
}
.services__title {
}
.services__line {
}
.services__button {
}
.services__cards {
}
.services__cards-item {
}
.image {
}
.services__cards-item-title {
}
.services__cards-item-text {
}
.get-in-touch {
}
.get-in-touch__inner {
}
.get-in-touch__text {
}
.get-in-touch__button {
}
.newsletter {
}
.newsletter__inner {
}
.newsletter__text {
}
.newsletter__form {
}
.newsletter__form-input {
}
.newsletter__form-button {
}
.footer__inner {
}
.footer__content {
}
.title {
}
.text {
}
.footer__nav {
}
.footer__nav-title {
}
.footer__nav-links {
}
.footer__nav-list {
}
.footer__contact {
}
.footer__contact-title {
}
.footer__contact-address {
}
.footer__contact-tel {
}
.footer__social {
}
.fa {
}
.fa-facebook-official {
}
.fa-twitter {
}
.fa-google {
}
