@import url('variables.css');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
.text__h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.31px;
    color: var(--text-primary);
}
.line {
    display: flex;
    width: 55px;
    height: 4px;
    background-color: var(--accent);
}
.text__caption {
    font-size: 11px;
    font-weight: 400;
}
/* Header */

.header {
    background-size: 100%;
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 41px;
    margin: 0 auto;
}
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: var(--text-light);
}
.header__title {
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5.71px;
    line-height: auto;
    padding-top: 84px;
}
.header__lead {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2px;
}
.link__wrapper{
    padding-bottom: 71px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    max-width: 1440px;
    margin: 0 auto;
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    list-style: none;
    display: flex;
    padding: 10px 0px;
    max-width: 410px;
}
.nav__list > li {
    font-size: 11px;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.068em;
}
.nav__list > li:nth-child {
    margin-right: 0px;
}
a:hover {
    color: var(--accent);
}
.btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--accent);
    color: var(--white);
    border: none;
}
.text-body {
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
}
.text__scroll {
    letter-spacing: 0.846px;
    text-transform: uppercase;
    color: var(--text-light);
}
/* About */
.about {
    margin-top: 58px;
}
.about__title {
    padding-bottom: 13px;
    text-align: center;
}
.about__title:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent);
    display: block;
}
.about__lead {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.188px;
    margin-bottom: 40px;
    padding-right: 25px;
}
.lead-highlight {
    color: var(--accent);
}
.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__description {
    width: 405.076px;
    padding-right: 25px;
}
.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 28px;
}
.about__cards-item {
    position: relative;
    display: inline-block;
}
.about__cards-img {
    display: block;
    width: 140px;
    height: 225px;
}
.item__title {
    position: absolute;
    top: 15px;
    left: 14px;
    color: var(--white);
    font-size: 24px;
    font-weight: 800;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.188px;
}
/* Services */

.services {
    margin-top: 120px;
    margin-bottom: 110px;
}
.services_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services__content-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.services__content-description {
    color: var(--gray);
    max-width: 405px;
    margin-right: 58px;
    letter-spacing: 0.2px;
    line-height: 19px;
}
.services__content-left {
    display: flex;
    flex-direction: column;
}
.services__title {
    padding-bottom: 10px;
}
.services__button {
    padding: 11px 29px;
}
.services__cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.services__cards-item {
    width: 295px;
    height: 330px;
    border: 1px solid var(--border, #E6E6E6);
    padding: 28px 29px;
}
.services__cards-image {
    width: 65.625px;
    height: 75px;
}
.services__cards-item-title {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 250px;
    padding: 25px 0 13px;
}
/* Get in touch */
.get-in-touch {
    background-image: url("/assets/get-in-touch.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 227px;
}
.get-in-touch__text {
    color: var(--gray, #48555B);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: 0.15px;
    margin: 0 auto;
    width: 350px;
}
.get-in-touch__button {
    display: flex;
    margin: 35px auto 0;
    padding: 14px 30px;
}
/* Newsletter */
.newsletter {
    background-color: var(--dark-gray, #171819);
    margin: 0 auto;
}
.newsletter__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 34px;
    margin: 0 auto;
}
.newsletter__text {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
}
.form__title {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.097em;
    padding-left: 93px;
}
.newsletter__form {
    display: flex;
    padding-right: 90px;
}
.newsletter__form-input {
    width: 250px;
    height: 38px;
    padding-left: 13px;
    border: 1px solid #979797;
    background: var(--white, #FFF);
}
.newsletter__form-button {
    width: 150px;
    height: 38px;
}
/* Footer */

.footer {
    background: var(--Shadow-Black, #141A20);
    display: flex;
}
.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 38px;
    padding-bottom: 40px;
}
.footer__grid-company {
    margin-right: 71px;
}
.footer__title {
    color: var(--white, #FFF);
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.846px;
    text-transform: uppercase;
}
.footer__logo {
    padding-top: 19px;
}
.company__text {
    color: var(--white, #FFF);
    width: 250px;
    letter-spacing: 0.85px;
    padding-top: 12px;
    line-height: 19px;
}
.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white);
    font-size: 11px;
    font-weight: 600;
    line-height: 25px; /* 227.273% */
    letter-spacing: 0.846px;
}
.footer__nav-list {
    padding: 0;
}
.footer__nav-list > li {
    list-style-type: none;
    text-transform: uppercase;
}
.footer__nav-list:first-child {
    margin-right: 34px;
    white-space: nowrap;
}
.footer__nav-list:last-child {
    margin-left: 31px;
    margin-right: 50px;
}
.footer__content {
    color: var(--white);
    padding-top: 15px;
}
.footer__contact-address {
    font-style: normal;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.846px;
}
.footer__content-links {
    display: flex;
    flex-direction: column;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.846px;
}
.footer__grid-social {
    display: flex;
    justify-content: space-between;
    width: 87px;
    margin-left: 36px;
    padding-top: 26px;
    color: var(--white, #FFF);
}
.copyright {
    background-color: var(--dark-gray);
    padding-top: 18px;
    padding-bottom: 23px;
}
.copyright__content {
    color:  var(--white);
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.846px;
}
/* Laptop*/
@media (max-width: 1024px) {
    .container {
        padding: 0 50px;
    }
    .about__inner {
        flex-wrap: wrap;
    }
}