:root {
    /* Primitive variables */
    /* Colors */
    --white: #ffffff;
    --accent: #00A4E5;
    --gray: #48555B;
    --light-silver: #D8D8D8;
    --light-gray: #E6E6E6;
    --dark-gray: #171819;
    --shadow-black: #141A20;

    /* Typography */
    --font-sans: 'Open Sans', Arial, sans-serif;

    /* Font weight */
    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700; 
    --fw-extra-bold: 800;
    --fw-black: 900;
}
